* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input:focus {
	border:none;
	outline:none;
}

body {
	background-color: #F0F0F0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(151,683,333)'%3E%3Cstop offset='0' stop-color='%23F0F0F0'/%3E%3Cstop offset='1' stop-color='%23F4F4F4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}

header {
	width: 100%;
	height: 80px;
	display: grid;
	grid-template-columns:1fr 2fr;
	padding: 20px 0;
	align-items: center;
	transition: all 0.8s ease;
	grid-template-rows:100px 1fr;
}

.grupo_btn {
	position: relative;
	display:grid;
	grid-template-columns:1fr 1fr;
	transition: all 0.8s ease;
}

.blcok {
	grid-column:1/2;
	position: absolute;
	width:210px;
	border-radius:20px;
	height:40px;
	background-color:rgba(255, 255, 255, 0);
	display:block;
}
.blockActivo {
	display:block;
}

.btn_comprar{
	position:relative;
	left:20px;
	background-color: #00c22a;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	color: white;
	border-radius:20px;
	border: none;
	cursor: pointer;
}

header h1 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
	color: #393A58;
	display: inline-block;
}
.grupo_btn .btn {
	width:250px;
}
.btn {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	border: none;
	color: #fff;
	background: #1a5074;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-radius:100px;
}
.vender {
	background: #27a346;
}

header button.active {
	display: inline-block;
}


.formulario {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	transition: .3s ease all;
}

.formulario input {
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	border: none;
	margin: 0 px;
}

.fomularioVender {
	width:95%;
}

.fomularioVender input{
	width:80%;
}



table {
	width: 100%;
	background: #fff;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 40px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
	position: relative;
	top:20px;
}

th {
	border-bottom:1px solid #E9E9E9;
	padding: 15px 5px;
}

td {
	border-bottom:1px solid #E9E9E9;
	padding: 8px 8px;
}

th {
	color:#393A58;
	font-size: 10px;
}

td {
	font-size: 12px;
}

.loader {
	margin: auto;
	display: none;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.loader.active {
	display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.fomularioVender {
	width: 100%;
	grid-column:2 span;
	margin-top:20px;
	display:none;
	opacity:0;
	position: relative;
	top:-60px;
}

.formularioActivo {
	display:flex;
	top:0px;
	opacity:1;
}
.headerActivo {
	grid-template-rows:100px 1fr;
}
.rojo {
	color: #c40018;
	font-weight:800;
}
.verde {
	color: #00c22a;
	font-weight:800;
}
.amarillo {
	color: rgb(165, 165, 33);
	font-weight:800;
}
.btn-danger {
	background-color: #00c22aa4;
}
.fondo_borrar {
	position:fixed;
	background-color: #6e6e6e9a;
	width:100%;
	height:100%;
	display:none;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	opacity:0;
	transition: 0.8s all;
	z-index:100;
}
.fondo_borrarActivo {
	display:grid;
	opacity:1;
}
.fondo_mensaje {
	position:fixed;
	background-color: #6e6e6e9a;
	width:100%;
	height:100%;
	display:none;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	opacity:0;
	transition: 0.8s all;
	z-index:100;
}

.fondo_mensajeActivo {
	display:grid;
	opacity:1;
}
.mensaje_borrar,
.mensaje_vender {
	width:380px;
	height:150px;
	background-color:white;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius:10px;
	display:grid;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr 1fr;
}
.mensaje_borrar .title_borrar,
.mensaje_vender .title_mensaje{
	grid-column:2 span;
}
.mensaje_borrar .title_borrar p,
.mensaje_vender .title_mensaje p {
	padding-top:15px;
}


.cont_btn_sucess {
	grid-column:1/2;
	grid-row:2/3;

}
.btn-success {
	background-color: #0fc537;
}


.cont_btn_danger{
	grid-column:2/3;
	grid-row:2/3;
	position: relative;

}
.btn-danger {
	background-color:rgb(207, 65, 65);
}


.fondo_ingresar {
	position:fixed;
	background-color: #6e6e6e9a;
	width:100%;
	height:100%;
	display:none;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	opacity:0;
	transition: 0.8s all;
	z-index:100;
}

.fondo_ingresarActivo {
	display:grid;
	opacity:1;
}
.cont_vender {
	width: 1300px;
	height:550px;
	background-color:white;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius:10px;
	
}
.main_vender {
	width:92%;
	margin: auto;
	display:grid;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: 50px auto repeat(3,110px);
}
.close  {
	position:relative;
	top:10px;
	left:610px;
	grid-column:1/5;
	grid-row:1/2;
	cursor:pointer;
}
.title {
	grid-column:1/5;
	grid-row:2/3;
}
.formulario__grupo {
	margin:15px 8px;
}



.cont_vender .title p{
	font-size:30px;
	color: #393A58;
}

.form-control {
	width:280px;
}
.formulario__input-error {
	opacity:0;
	font-size:12px;
	color:rgb(255, 123, 123);
}

.cancelar_producto,
.agregar_producto {
	width:200px;
	position:relative;
	top:-15px;
	border-radius:10px;
}


.grupo_btn .botones {
	width:210px;
}
.grupo_btn .boton_ingresar_producto {
	background-color: #156bbb;
}

.fondo_proceso_correcto {
	position:fixed;
	background-color: #6e6e6e9a;
	width:100%;
	height:100%;
	display:none;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	opacity:0;
	transition: 0.8s all;
	z-index:100;
}
.fondo_proceso_correctoActivo {
	display:grid;
	opacity:1;
}
.cont_proceso_correcto {
	width: 320px;
	height:170px;
	background-color:white;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius:10px;
	display:grid;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.title_correcto p {
	font-size:14px;
}
.icon_borrar {
	cursor:pointer;
}

html {
	height:100%;
}
body {
	height:100%;
	position:relative;
	display:grid;
	grid-template-columns:auto 1fr;
	grid-template-rows:1fr;
}
.contenedor {
	width: 100%;
	height:100%;
	margin: auto;
	position: relative;
	transition: all 0.8s ease;
}
.subcontenedor {
	width: 90%;
	height:100%;
	margin: auto;
}
.menu {
	background-color: #0d7c7e;
	height:100%;
	width:250px;
	position: relative;
	top:0;
	left: 0;
}
.cont_1,
.cont_2 {
	width:80%;
	margin:auto;
}
.cont_1 div img {
	position: relative;
	left:calc(50% - 75px);
	width:150px;
	height:150px;
	border-radius:50%;
}
	.cont_1 .sub_cont_1 {
		margin:20px 0;
	}
.cont_1 div p {
	text-align: center;
	font-size:12px;
	color: white;
	padding:0;
	margin: 0;
}
	.cont_1 .nombre_empresa {
		font-size:13px;
	}
	.cont_1 .nit {
		font-size:11px;
		color: rgb(235, 235, 235);
	}
	.cont_1 .responsable {
		font-size:10px;
		color:rgb(202, 202, 202);
	}


.cont_2 {
	margin-top:50px;
}
.cont_2 div {
	position: relative;
	margin:20px 0;
	transition: all 1s ease;
}
.cont_2 div a::after {
	transition: all 1s ease;
	content:" ";
	position:absolute;
	left:0;
	bottom:-5px;
	background:rgb(0, 83, 69);
	width:0%;
	height:2px;
	opacity:0;
}
.cont_2 div a::before {
	transition: all 1s ease;
	content:" ";
	position:absolute;
	left:0;
	top:-5px;
	background:rgb(0, 83, 69);
	width:0%;
	height:2px;
	opacity:0;
}
.cont_2 div a:hover:before {
	background-color: rgb(0, 182, 91);
	width:100%;
	opacity:1;
}
.cont_2 div a:hover:after {
	background-color: rgb(0, 182, 91);
	width:100%;
	opacity:1;
}
.cont_2 div a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease;
}
.cont_2 div a:hover {
	color:rgb(37, 219, 0);
}
.cont_2 div iconify-icon {
	color:white;
	padding-right:8px;
	position: relative;
	top:6px;
}
.cont_2 div .icon-caja {
	top:2px;
	left:2px;
}
.ocultar-cargar {
	display:none;
	opacity:0;
}
.header {
	padding:0;
	margin: 0 auto;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 10px;
}
.dataTables_paginate {
	display: none;
}
.dataTables_info {
	display: none;
}
.dataTables_length {
	display:none;
}











/*--------EFECTOS AÑADIDOS CON JS, PARA VALIDACION DE FORMULARIO----------*/
.formulario__grupo--incorrecto input {
	border:solid 1px rgb(255, 111, 111);
}
.formulario__grupo--incorrecto .formulario__input-error {
	opacity:1;
}
.formulario__grupo--incorrecto label {
	color: rgb(255, 111, 111);
}

.formulario__grupo--incorrecto input{
	-webkit-animation: tiembla 0.2s alternate;
	animation-delay: 0.6s;
  }
@-webkit-keyframes tiembla{
	0% { -webkit-transform:rotateY( -20deg) ; }
	25% { -webkit-transform:rotateY( 0deg) ; }
	50% { -webkit-transform:rotateY( 20deg) ; }
	75% { -webkit-transform:rotateY( 0deg) ; }
	100% { -webkit-transform:rotateY( -20deg) ; }
}