* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size:12px;
}
input[type="date"]{
	background-color:rgba(12,124,126,255);
	height: 25px;
	border:3px solid rgb(47, 143, 122);
	font-size: 16px;
	border-radius: 5px;
	color:rgb(255, 255, 255);
	padding:15px 10px;
}
input[type="date"]::-webkit-inner-spin-button,::-webkit-calendar-picker-indicator{
	filter: drop-shadow(16px 16px 20px rgb(255, 255, 255)) invert(100%);
}

body {
	background-color: #F0F0F0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(151,683,333)'%3E%3Cstop offset='0' stop-color='%23F0F0F0'/%3E%3Cstop offset='1' stop-color='%23F4F4F4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	height:100%;
	position:relative;
	display:grid;
	grid-template-columns:auto 1fr;
	grid-template-rows:1fr;
}

html {
	height:100%;
}

.contenedor {
	width: 80%;
	height:100%;
	margin: auto;
	position: absolute;
	transition: all 0.8s ease;
	display:grid;
	right: 0;
	justify-items: center;
}
.subcontenedor {
	width: 90%;
	height:100%;
	margin: auto;
}
.menu {
	background-color: #0d7c7e;
	height:100%;
	width:250px;
	position: fixed;
	top:0;
	left: 0;
	z-index:1000;
}
.cont_1,
.cont_2 {
	width:80%;
	margin:auto;
}
.cont_1 div img {
	position: relative;
	left:calc(50% - 75px);
	width:150px;
	height:150px;
	border-radius:50%;
	object-fit: cover;
}
	.cont_1 .sub_cont_1 {
		margin:20px 0;
	}
.cont_1 div p {
	text-align: center;
	font-size:12px;
	color: white;
	padding:0;
	margin: 0;
}
	.cont_1 .nombre_empresa {
		font-size:13px;
	}
	.cont_1 .nit {
		font-size:11px;
		color: rgb(235, 235, 235);
	}
	.cont_1 .responsable {
		font-size:10px;
		color:rgb(202, 202, 202);
	}


.cont_2 {
	margin-top:50px;
}
.cont_2 div {
	position: relative;
	margin:20px 0;
	transition: all 1s ease;
}
.cont_2 div a::after {
	transition: all 1s ease;
	content:" ";
	position:absolute;
	left:0;
	bottom:-5px;
	background:rgb(0, 83, 69);
	width:0%;
	height:2px;
	opacity:0;
}
.cont_2 div a::before {
	transition: all 1s ease;
	content:" ";
	position:absolute;
	left:0;
	top:-5px;
	background:rgb(0, 83, 69);
	width:0%;
	height:2px;
	opacity:0;
}
.cont_2 div a:hover:after {
	background-color: rgb(0, 182, 91);
	width:100%;
	opacity:1;
}
.cont_2 div a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease;
}
.cont_2 div a:hover {
	color:rgb(228, 228, 228);
}
.cont_2 div iconify-icon {
	color:white;
	padding-right:8px;
	position: relative;
	top:6px;
}
.cont_2 div .icon-caja {
	top:2px;
	left:2px;
}

.sub_cont {
	width:85%;
	margin: 50px auto;
	position: relative;
}

table {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius:10px;
	background-color:white;
	position: relative;
}
.content-table {
	width:100%;
	margin-bottom:100px;
}

th {
	width:auto;
	padding:10px 15px;
	font-size:10px;
	text-align: center;
}
td {
	padding:7px 15px;
	font-size:12px;
}
tr {
	
	border-bottom:1px solid rgb(235, 235, 235);
}

.filaCentrar {
	text-align: center;
}
.inicio {
	margin-bottom:20px;
}
.inicio input {
	margin-right:10px;
}
.btn-consultar {
	background-color: #0d7c7e;
	color:white;
	border-radius:5px;
	border:none;
	width:120px;
	height:35px;
}
.btn-consultar:hover {
	background-color: #23a1a3;
}
.btn-consultar:active {
	background-color: #115758;
	color:rgb(201, 201, 201);
}

.fondoFecha {
	position:fixed;
	background-color: #6e6e6e9a;
	width:100%;
	height:100%;
	display:none;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	opacity:0;
	transition: 0.8s all;
	z-index:100;
}

.fondoFechaActivo {
	display:grid;
	opacity:1;
}

.mensajeFecha {
	width:320px;
	height:150px;
	background-color:white;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius:10px;
	display:grid;
	align-content:center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.mensajeFecha .titleFecha {
	grid-column:2 span;
	text-align: center;
}

.mensajeFecha .titleFecha p {
	font-size:16px;
	color: #ff3535;
	font-weight:800;
}

.mensajeFecha .titleFecha p {
	padding:0 20px;
}

select.ui-datepicker-year,
select.ui-datepicker-month {
	height: 28px;
    border-radius: 5px;
}
select.ui-datepicker-month {
	margin-right: 5px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	border:1px solid rgb(16, 110, 58);
	margin-top: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	background-color: #d3d3d352;
}
.ui-widget-header {
	border:none;
}

.input-tex{
	background-color:#ccdfd9;
	height:33px;
	width:95%;
	border:2px solid #0d7f54;
	font-size: 12px;
	border-radius: 5px;
	color:#428d52;
	outline:none;
	padding-left:10px;
	box-sizing: border-box;
}
.input-tex::placeholder {
	color: #5db470; 
}
.container-input{
	width:450px;
	position: relative;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr;
	margin-bottom:10px;
}
.icono-calendario {
	position: absolute;
	top:5px;
	right:14px;
	cursor: pointer;
}
.cont-1 {
	position: relative;
}
.cont-2 {
	position: relative;
}

#ultima {
	display:none;
}


.contador {
	width:60%;
	position: fixed;
	bottom:-65px;
	left: 60%;
	transform: translate(-50%);
}
.total,
.sub-total {
	text-align: right;
	width:100px;
}
.total-number,
.sub-total-number {
	width:120px;
	text-align: center;
	color:rgb(141, 141, 141);
}
.btn-vender {
	height:40px;
	width:180px;
}
.th-vender {
	text-align: center;
	width:100px;
}
.content-table tr td input {
	width: 70px;
	border:1px solid gray;
	border-radius:5px;
	box-sizing: border-box;
	text-align: center;
}
.contador tr th{
	font-size:14px;
}





.detec-menu {
	display:none;
}

.menu-respon {
	display:none;
}
.icon-edit {
	width:23px;
}
.icon-trash {
	width:23px;
}



@media screen and (max-width: 1100px){
	.menu {
		display:block;
		left:-100%;
		transition: all 1s ease;
		z-index:10;
		padding-top: 50px;
		position: absolute;
	}
	.cont_1 div img {
		width:80px;
		height:80px;
		left:0;
	}
	.cont_1 .sub_cont_1 {
		text-align: center;
	}
	.menuActivo{
		left:0px;
	}
	body{
		grid-template-columns:1fr;
		justify-items: center;
	}
	.contenedor{
		width:100%;
		margin: auto;
		position: absolute;
		grid-column: 1/2;
	}
	.menu-respon {
		display:block;
		background-color: #006e6e;
		width:100%;
		height:40px;
		position: absolute;
		z-index:100;
	}
	.detec-menu {
		display:none;
		background-color: #00000000;
		width:100%;
		height:100%;
		position: absolute;
		z-index:5;
	}
	.detec-menuActivo {
		display:block;
	}
	.cont-icon-menu-respon {
		width:30px;
		height:30px;
		position: absolute;
		right:10px;
		top: 8px;
	}
	.cont-icon-menu-respon iconify-icon {
		cursor: pointer;
	}
	.content-table tr th{
		font-size:10px;
		padding:10px 5px;
		text-align: center;
	}
	.content-table tr td {
		padding:5px 5px;
		font-size:10px;
		text-align: center;
	}
	.contador {
		left: 50%;
 		transform: translate(-50%);
	}
}

@media screen and (max-width: 600px){
	.sub_cont {
		width: 95%;
	}
}
@media screen and (max-width: 540px){
	.content-table tr th{
		padding:10px 5px;
		font-size:9px;
	}
	.content-table tr td {
		padding:5px 5px;
		font-size:9px;
	}
}
@media screen and (max-width: 490px){
	.ocultarCol1{
		display:none;
	}
}
@media screen and (max-width: 440px){
	.ocultarCol2{
		display: none;
	}
	.container-input {
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		align-items: center;
		grid-gap: 10px;
	}
	.btn-consultar {
		width: 100%;
		height: 35px;
		grid-column: 1/3;
	}
	.cont-1, .cont-2 {
		width: 100%;
		display: grid;
		justify-items: center;
	}
}